@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANIMACIONES HOMEPAGE */

.title-animation {
  background: url('./assets/images/section-hero/animated-text-fill.webp')
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aitf 80s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.spaceMan {
  position: absolute;
  animation-name: spacemanAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  filter: drop-shadow(1px 2px 8px rgba(69, 183, 245, 0.9));
}

@keyframes spacemanAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}

.wormHole {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  filter: drop-shadow(2px 1px 10px rgba(255, 255, 255, 0.9));
}

.wh2 {
  animation-duration: 5s;
}

.wh3 {
  animation-duration: 5s;
}

.wh4 {
  animation-duration: 7s;
}

.wh5 {
  animation-duration: 8s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Flip Card */
.card {
  perspective: 800px;
}
.card__content {
  transform-style: preserve-3d;
}
.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  backface-visibility: hidden;
}
.card__back {
  transform: rotateY(0.5turn);
}
